@import "tailwindcss";

/* Hide Scrollbar Globally */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}